<header class="bg-transparent text-white shadow-md w-full z-50">
    <div class="container mx-auto px-6 py-4 flex justify-between items-center">
        <!-- Logo / Name -->
        <a href="#"
            class="w-fit flex-col text-[1rem] leading-none tracking-tighter md:flex md:text-[1.7vw] text-black hover:text-green-400"
            style="font-family: 'Space Grotesk', sans-serif;">Taran.</a>

        <!-- Desktop Navigation -->
        <nav class="hidden md:flex space-x-6">
            <a href="#about" class="text-black hover:text-green-400 transition">About</a>
            <a href="#projects" class="text-black hover:text-green-400 transition">Projects</a>
            <a href="#footer" class="text-black hover:text-green-400 transition">Contact</a>
            <a href="https://drive.google.com/file/d/1qqseIaNxcwEnGwF0M4fiWrqXeGd0u7Ii/view?usp=drivesdk"
                target="_blank" class="text-black hover:text-green-400 transition">Resume</a>
        </nav>

        <button id="menu-toggle" class="md:hidden text-2xl focus:outline-none">
            ☰
        </button>
    </div>

    <!-- Mobile Navigation -->
    <nav id="mobile-menu" class="hidden bg-gray-800 md:hidden">
        <a href="#home" class="block py-2 px-4 text-white hover:bg-gray-700">Home</a>
        <a href="#projects" class="block py-2 px-4 text-white hover:bg-gray-700">Projects</a>
        <a href="#about" class="block py-2 px-4 text-white hover:bg-gray-700">About</a>
        <a href="#contact" class="block py-2 px-4 text-white hover:bg-gray-700">Contact</a>
    </nav>
</header>